#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50vh;
  min-width: 320px;
  min-height: 322vw;

  /* background-color: #cfdd; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
