#root {
  width: 100%;
  min-height: 100vh;
}

.root-bg {
  background-image:
    repeating-linear-gradient(
      -45deg,
      rgb(from var(--color-secondary) r g b / 75%) 0 2px,
      rgb(from var(--card) r g b / 80%) 2px 6px
    ), url("./bg-light.svg");
}
.dark .root-bg {
  background-image:
    repeating-linear-gradient(
      -45deg,
      rgb(from var(--color-primary) r g b / 75%) 0 2px,
      rgb(from var(--card) r g b / 80%) 2px 6px
    ), url("./bg-dark.svg");
}
